<mat-toolbar class="header">
  <div>
    <button (click)="navToggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-flat-button class="header__logo" routerLink="/">
      SkillBoard
    </a>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="search">
    <input
      class="search__input"
      formControlName="searchInput"
      matInput
      placeholder="検索したいスキル名"
      autocomplate="off"
    />

    <button class="search__button" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="login">
    <button mat-button (click)="uploadSampleData()">ダミーデータ同期</button>
    <button mat-button (click)="login()">ログイン</button>
  </div>
</mat-toolbar>
