<mat-toolbar class="header">
  <div>
    <button (click)="navToggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <a mat-flat-button class="header__logo" routerLink="/">
      SkillBoard
    </a>
  </div>

  <form class="search" (ngSubmit)="routeSearch(searchControl.value)">
    <input
      class="search__input"
      [formControl]="searchControl"
      matInput
      placeholder="検索したいスキル名・カテゴリ"
      [matAutocomplete]="auto"
    />

    <button
      (click)="routeSearch(searchControl.value)"
      class="search__button"
      mat-icon-button
    >
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionActivated)="setSearchQuery($event.option?.value)"
    (optionSelected)="routeSearch($event.option?.value)"
  >
    <mat-option
      *ngFor="let option of autoComplateOptions"
      [value]="option.skillCaption"
      >{{ option.skillCaption }}</mat-option
    >
  </mat-autocomplete>

  <div class="login">
    <button mat-button (click)="uploadSampleData()">サンプルデータ更新</button>
    <button mat-button (click)="puppeteerTest()">puppeteerテスト</button>
    <button mat-button (click)="login()">ログイン</button>
  </div>
</mat-toolbar>
