.content {
  // max-width: 1000px;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, 190px);
}

.filter {
  width: 300px;
  // border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;
}
