// ルール更新後は以下コマンド実行
// firebase deploy --only firestore:rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /skills/{document=**} {// WEBアプリ側からアクセスするのはskillsのみ(他はfunctionsからのみアクセス)
      allow read: if true;
    }
  }
}
