<h2>タグ一覧</h2>

<div>
  <label
    ><input type="radio" value="and" [formControl]="tagRule" checked />
    AND</label
  >
  <label><input type="radio" value="or" [formControl]="tagRule" /> OR</label>
</div>

<mat-form-field>
  <mat-label>タグ絞り込み</mat-label>
  <input type="text" matInput [formControl]="tagFilter" autocomplete="off" />
</mat-form-field>

<mat-selection-list dense (selectionChange)="updateTags($event)">
  <mat-list-option
    *ngFor="let tag of tags"
    [selected]="tag.selected"
    [value]="tag.value"
  >
    {{ tag.value }}({{ tag.count }})
  </mat-list-option>
</mat-selection-list>
<button mat-button routerLink="./">条件をクリア</button>
