.skill-pill {
  height: 128px;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;

  @media screen and (max-width: 640px) {
    height: 72px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); // 縦並びになるので、境界の枠を追加
  }
}
ß .skill-pill:hover {
  background-color: #fafafa;
  z-index: 0; // 左側のborder(他要素で描画)が表示されるように表示順位下げる
}

.skill-pill-bullet {
  font-size: 30px;
  left: 12px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);

  @media screen and (max-width: 640px) {
    left: 20px;
  }
}

.skill-pill-center {
  height: 100%;
  padding: 42px 44px 0px 34px;
  box-sizing: border-box;

  @media screen and (max-width: 640px) {
    padding: 16px 44px 0px 44px;
  }
}

.skill-pill-caption {
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.skill-pill-caterogy {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// SkillComponent#ngAfterViewChecked経由で、[.skill-pill-large-font]がスイッチされるので、それに応じて文字サイズ切り替え
.skill-pill-large-font .skill-pill-caption {
  font-size: 20px;
}
.skill-pill-large-font .skill-pill-caterogy {
  font-size: 15px;
}

.skill-pill-button {
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 2; // skill-pill-containerより優先度上げて、ボタンがhover認識される範囲を広げる

  @media screen and (max-width: 640px) {
    right: 16px;
  }
}
