.skill-pill-container {
  height: 128px;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 50;

  @media screen and (max-width: 640px) {
    height: 72px;
  }
}

.skill-pill-container:hover {
  background-color: #fafafa;
  z-index: 0; // 左borderが表示されるように表示順位下げる
}

.skill-pill-bullet {
  font-size: 30px;
  left: 12px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

// .action {
.remove-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 100; // skill-pill-containerより優先度上げて、hover認識されやすくする
}

.caption {
  padding: 42px 44px 62px 34px;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.caterogy-wrapper {
  padding: 6px 44px 6px 34px;
  position: absolute;
  top: 63px;
  box-sizing: border-box;
  width: 100%;
}

.caterogy {
  color: rgba(0, 0, 0, 0.54);
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
