<div class="skill-pill" #skillPill>
  <!-- <form class="search"> -->
  <input
    class="skill-search"
    [formControl]="searchControl"
    placeholder="スキルを追加"
    [matAutocomplete]="auto"
  />
  <!-- type="text" -->
  <!-- (keydown)="doSearchSkillKeyDown($event)" -->

  <!-- <button
      (click)="doSubmit(searchControl.value)"
      class="search__button"
      mat-icon-button
    >
      <mat-icon>search</mat-icon>
    </button> -->
  <!-- </form> -->

  <mat-autocomplete
    #auto="matAutocomplete"
    [panelWidth]="autoComplateWidth"
    (optionSelected)="doSelect($event.option.value)"
  >
    <mat-option
      appSkillAutocomplateOption
      *ngFor="let option of autoComplateOptions"
      [value]="option"
      class="skill-pill-option"
    >
      <div class="skill-pill-caption">{{ option.skillCaption }}</div>
      <div class="skill-pill-caterogy">
        {{ option.skillCategories.join(', ') }}
      </div>
    </mat-option>
  </mat-autocomplete>
</div>
