<form class="search" (ngSubmit)="onSubmit()">
  <div class="skill-pill" #skillPill>
    <input
      class="skill-search"
      [formControl]="searchControl"
      placeholder="スキルを追加"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      [panelWidth]="autoComplateWidth"
      (optionSelected)="onSelect($event.option.value)"
    >
      <mat-option
        appSkillAutocomplateOption
        *ngFor="let option of autoComplateOptions"
        [value]="option"
        class="skill-pill-option"
      >
        <div class="skill-pill-caption">{{ option.skillCaption }}</div>
        <div class="skill-pill-caterogy">
          {{ option.skillCategories.join(', ') }}
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</form>
