<div class="content-header">
  <div class="skill-pills">
    <div class="skill-pills__grid">
      <ng-container *ngFor="let skillId of skillIds; index as i">
        <app-skill-pill
          *ngIf="getSkill(skillId) as skill"
          [skill]="skill"
          [skillColor]="getSkillColor(i)"
          [isLargeFont]="isSkillPillLargeFont"
          (removePill)="onRemoveSkillPill($event)"
        >
        </app-skill-pill>
      </ng-container>
      <app-skill-search-pill
        *ngIf="isShowSkillPillSearch"
        [isLargeFont]="isSkillPillLargeFont"
        (addPill)="onSearchSelectSkillPill($event)"
      ></app-skill-search-pill>
    </div>
  </div>

  <div class="content-filter"></div>
</div>

<div class="content-body"></div>
