.content-header {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.skill-pills {
  box-sizing: border-box;
  padding: 0 32px;
  background-color: white; // TODO 上位で白にするか検討(mat-sidenav-content内なので色がついている) #116実装時に見直し
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding: 0 64px;
  }

  @media screen and (max-width: 640px) {
    padding: 0;
    border-bottom: none;
  }

  &__grid {
    border-left: 1px solid rgba(0, 0, 0, 0.12); // skill-pillのborderと二重にならないようにleftのみ
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    @media screen and (min-width: 1280px) {
      width: 1152px;
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
}

.content-body {
  box-sizing: border-box;
  padding: 0 32px;
  margin-top: 25px;
  background-color: #f9f9f9;

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding: 0 64px;
  }

  @media screen and (max-width: 640px) {
    margin-top: 0;
    padding: 0;
    border-bottom: none;
  }
}

.content-wrapper {
  max-width: 1152px;
}
