<div class="content-header">
  <div class="skill-pills">
    <div class="skill-pills__grid">
      <app-skill-pill
        *ngFor="let skill of skills; index as i"
        [skillId]="skill"
        [skillColor]="getSkillColor(i)"
        [isLargeFont]="isSkillPillLargeFont"
        (removePill)="onRemoveSkillPill($event)"
      >
      </app-skill-pill>
      <app-skill-search-pill
        [isLargeFont]="isSkillPillLargeFont"
      ></app-skill-search-pill>
    </div>
  </div>

  <div class="content-filter"></div>
</div>

<div class="content-body"></div>
