<h2 mat-subheader>ランキング</h2>
<mat-nav-list dense class="item-group">
  <a mat-list-item class="item" routerLink="/">総合</a>
  <a mat-list-item class="item" routerLink="/">推移チャート</a>
  <a mat-list-item class="item" routerLink="/">条件別</a>
</mat-nav-list>

<mat-divider></mat-divider>

<h2 mat-subheader>参考情報</h2>
<mat-nav-list dense>
  <a mat-list-item class="item" routerLink="/">スクール</a>
  <a mat-list-item class="item" routerLink="/">教材</a>
  <a mat-list-item class="item" routerLink="/">インフルエンサー</a>
</mat-nav-list>
